<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Acknowledgement</servlet-name>
        <servlet-class>com.acknowledge.Acknowledgement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientLogin</servlet-name>
        <servlet-class>com.client.ClientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientRegistration</servlet-name>
        <servlet-class>com.client.ClientRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientLogout</servlet-name>
        <servlet-class>com.client.ClientLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.administrator.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.administrator.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdmin</servlet-name>
        <servlet-class>com.administrator.AddAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCatalog</servlet-name>
        <servlet-class>com.administrator.AddCatalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.administrator.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPrice</servlet-name>
        <servlet-class>com.administrator.EditPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAdmin</servlet-name>
        <servlet-class>com.administrator.RemoveAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCatalog</servlet-name>
        <servlet-class>com.administrator.RemoveCatalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProduct</servlet-name>
        <servlet-class>com.administrator.RemoveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductDetailPhone</servlet-name>
        <servlet-class>com.administrator.AddProductDetailPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductDetailLaptop</servlet-name>
        <servlet-class>com.administrator.AddProductDetailLaptop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductDetailTv</servlet-name>
        <servlet-class>com.administrator.AddProductDetailTv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductQuantity</servlet-name>
        <servlet-class>com.administrator.AddProductQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPlacement</servlet-name>
        <servlet-class>com.product.ProductPlacement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSupport</servlet-name>
        <servlet-class>com.support.CustomerSupport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>com.product.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAddress</servlet-name>
        <servlet-class>com.client.ChangeAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDoneCard</servlet-name>
        <servlet-class>com.payment.PaymentDoneCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductQuantity</servlet-name>
        <servlet-class>com.product.ProductQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReply</servlet-name>
        <servlet-class>com.support.AdminReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClient</servlet-name>
        <servlet-class>com.support.UpdateClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCart</servlet-name>
        <servlet-class>com.product.RemoveCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartPaymentDone</servlet-name>
        <servlet-class>com.product.RemoveCartPaymentDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNow</servlet-name>
        <servlet-class>com.product.BuyNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentThroughCOD</servlet-name>
        <servlet-class>com.payment.PaymentThroughCOD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acknowledgement</servlet-name>
        <url-pattern>/Acknowledgement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientLogin</servlet-name>
        <url-pattern>/ClientLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientRegistration</servlet-name>
        <url-pattern>/ClientRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientLogout</servlet-name>
        <url-pattern>/ClientLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdmin</servlet-name>
        <url-pattern>/AddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCatalog</servlet-name>
        <url-pattern>/AddCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPrice</servlet-name>
        <url-pattern>/EditPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAdmin</servlet-name>
        <url-pattern>/RemoveAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCatalog</servlet-name>
        <url-pattern>/RemoveCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProduct</servlet-name>
        <url-pattern>/RemoveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductDetailPhone</servlet-name>
        <url-pattern>/AddProductDetailPhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductDetailLaptop</servlet-name>
        <url-pattern>/AddProductDetailLaptop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductDetailTv</servlet-name>
        <url-pattern>/AddProductDetailTv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductQuantity</servlet-name>
        <url-pattern>/AddProductQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPlacement</servlet-name>
        <url-pattern>/ProductPlacement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSupport</servlet-name>
        <url-pattern>/CustomerSupport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAddress</servlet-name>
        <url-pattern>/ChangeAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDoneCard</servlet-name>
        <url-pattern>/PaymentDoneCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductQuantity</servlet-name>
        <url-pattern>/ProductQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReply</servlet-name>
        <url-pattern>/AdminReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClient</servlet-name>
        <url-pattern>/UpdateClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCart</servlet-name>
        <url-pattern>/RemoveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartPaymentDone</servlet-name>
        <url-pattern>/RemoveCartPaymentDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNow</servlet-name>
        <url-pattern>/BuyNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentThroughCOD</servlet-name>
        <url-pattern>/PaymentThroughCOD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>acknowledgement.jsp</welcome-file>
        <welcome-file>admin_login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
